<section class="py-3 pl-4" >
    <h2 class="text-center">Modify Equipment</h2>
    <form action="">
        <h4>Select Geometry</h4>
        <select name="" id="" name="geometry"  [(ngModel)]="selectedGeometry" placeholder="Select Geometry">
            Select Geometry
            <option disabled>Select Geometry</option>
            <option value="sphere">Sphere</option>
            <option value="cube">Cube</option>
        </select>
        <h4 class="mt-3">Select Color</h4>
        <select name="" id="" name="color"  [(ngModel)]="selectedColor" placeholder="Select Geometry">
            Select Color
            <option disabled>Select Color</option>
            <option value="#000000">Black</option>
            <option value="rgb(255,0,0)">Red</option>
            <option value="rgb(0,0,255)">Blue</option>
        </select>
        <br>
        <button class="btn btn-success mt-3" (click)="updateConfig()" >Submit</button>
    </form>

</section>

